# Dasha Davis, Module 4 Practice

## Chapter 5, Lists

## Section 5.2, pg. 156

In [1]:
c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

In [3]:
c[0]

-45

In [4]:
c[4]

1543

In [5]:
len(c)

5

In [6]:
c[-1]

1543

In [7]:
c[-5]

-45

## Using a non-integer index value causes a TypeError

In [8]:
a = 1

In [9]:
b = 2

In [10]:
c[a+b]

72

## Lists are mutable - their elements can be modified (pg. 158)

In [11]:
c[4] = 17

In [12]:
c

[-45, 6, 0, 72, 17]

#Strings and tuples are immutable (can't be modified)

#strings need quotes

In [13]:
s = 'hello'
s[0] #needed to be in same cell. Error when put in separate cell

'h'

In [ ]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

#above error occurs because strings and tuples can't be modified

In [23]:
c[100]

IndexError: list index out of range

#error caused when accessing a nonexistent element (index number doesn't match list elements)

In [ ]:
## Dasha Davis List elements may be used as variables in expressions

In [24]:
c[0] + c[1] + c[2]

-39

#Appending to a list with +=

In [25]:
a_list = [] #start with empty list

In [26]:
for number in range(1, 6):
    a_list += [number]

In [27]:
a_list

[1, 2, 3, 4, 5]

# appending (adding) characters in strings to a list

In [28]:
letters = [] #start with empty list

letters += 'Python'

letters

['P', 'y', 't', 'h', 'o', 'n']

# if the right operand of the += is a tuple, its elements also are amended to the list.

# Concatenating Lists with +, resultingin a new sequence containing left elements and right elements with sequence being changed (p. 159)

In [29]:
list1 = [10, 20, 30]
list2 = [40, 50]

concatenated_list = list1 + list2

concatenated_list

[10, 20, 30, 40, 50]

In [ ]:
# you will get an error if you try to concatenate a list and a tuple (different sequence types)

# using for and range to Access List Indices and Values

# List elements can be accessed via their indices and the subscription operator([]): pg. 159

In [30]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

In [ ]:
# above - processing every item in a list, in this case printing a formatted string

# Dasha Davis - Comparison operators - compare entire lists element-by-element using comparison operators:

In [31]:
a = [1, 2, 3]
b = [1, 2, 3]
c = [1, 2, 3, 4]

a == b #true: corresponding elements in both are equal

True

In [32]:
a == c  #false: a and c have different elements and lengths

False

In [33]:
a < c # true: a has fewer elements than c

True

In [34]:
c >= b #true: elements 0-2 are equal but c has more more elements

True

# Dasha Davis - Self-Check, question 3 (pg. 160), create a function cube_list that cubes each element in a list.

In [35]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numbers)

numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Dasha Davis, End of Section 5.2

In [ ]:
# 5.3 Tuples - pg. 161

In [36]:
#empty tuple
student_tuple = ()

student_tuple

()

In [37]:
#number of elements
len(student_tuple)

0

In [ ]:
#Dasha Davis packing a tuple by separating values with commas:

In [38]:
student_tuple = 'John', 'Green', 3.3    #note - quotes with strings but not with integers or floats

#also, can use parentheses in the tuple, but python automatically puts parentheses in the output

student_tuple

('John', 'Green', 3.3)

In [39]:
len(student_tuple)

3

In [40]:
a_singleton_tuple = 'red', #the comma after the string identifies this as a tuple (just a single one), otherwise it
#would refer to just the string "red", rather than a tuple

a_singleton_tuple

('red',)

# Dasha Davis accessing Tuple elements, pg. 161, tuple indices start at 0

In [41]:
time_tuple = (9, 16, 1)

time_tuple

(9, 16, 1)

In [42]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

## the above is a type error because values can't be assigned to tuple elements

# Dasha Davis adding items to a string or tuple, pg. 162

In [43]:
tuple1 = (10, 20, 30)

tuple1 = tuple2

tuple2

NameError: name 'tuple2' is not defined

In [44]:
tuple1 = (10, 20, 30)

tuple2 = tuple1  #I changed the left side to say tuple2 (instead of tuple1)

tuple2

(10, 20, 30)

## concatenating the tuple (40, 50) to tuple1 creates a new tuple (a new tuple1); tuple2 remains the same

In [45]:
tuple1 += (40,50)  #basically adding these elements to the original tuple1

tuple1

(10, 20, 30, 40, 50)

In [ ]:
## Dasha Davis the above augmented assignemnts += can be used with lists, strings, and tuples, even though they are immutable.The item
## to the right of the += must be a string or tuple or TypeError occurs.

In [46]:
numbers = [1, 2, 3, 4, 5]  #adding tuples to a list

numbers += (6, 7)

numbers

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Dasha Davis Tuples may contain mutable objects

In [47]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])   #even though the tuple is immutable, the list element is mutable

student_tuple[2][1] = 85 #double-scripted name (student_tuple[2][1])

student_tuple

('Amanda', 'Blue', [98, 85, 87])

In [ ]:
#above - the list elements can be changed, so student_tuple[2[1] = 85
#refers to the 1st index (75) of the 2nd index of the tuple (list) - changing that number to an 85

## Dasha Davis 5.3 ipython session of the Self Check

In [ ]:
#create a single-element tuple containing 123.45, then display it.

In [48]:
tuple1 = 123.45,  #don't forget the comma after a single-element tuple - parentheses are optional

tuple1

(123.45,)

# Dasha Davis concatenating sequences of different types - a list and a tuple, using the + operator

In [49]:
[1, 2, 3] + (4, 5, 6)  #will result in a TypeError because you can only concatenate a list to a list or a tuple to a tuple

TypeError: can only concatenate list (not "tuple") to list

# Dasha Davis, 5.4 Unpacking Sequences, p. 163

In [50]:
student_tuple = ('Amanda', [98, 85, 87]) #unpacking a tuple

first_name, grades = student_tuple

first_name

'Amanda'

In [51]:
grades

[98, 85, 87]

## unpacking a string

In [52]:
first, second = 'hi'

print(f'{first} {second}')

h i

In [ ]:
# reminder - F-strings provide a way to embed expressions inside string literals, using a minimal syntax. 
# f goes inside the parentheses

## unpacking a list

In [53]:
number1, number2, number3 = [2,3,5] 

print(f'{number1} {number2} {number3}')

2 3 5

## unpacking a sequence produced by a range

In [54]:
number1, number2, number3 = range(10, 40, 10) 

print(f'{number1} {number2} {number3}')

10 20 30

# I was 'today years old' when I figured out you need a space after the hashmark for a markdown

# Dasha Davis - swapping values via packing and unpacking

In [55]:
number1 = 99

number2 = 22

numbner1, number2 = (number2, number1)  

print(f'number1 = {number1}; number2 = {number2}')

number1 = 99; number2 = 99

In [56]:
number1 = 99

number2 = 22

number1, number2 = (number2, number1)  #typo in number1 - fixed

print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

# Dasha Davis accessing indices and values with built-in function enumerate

In [57]:
colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [58]:
#the 'for' loop unpacks ech tuple returned by enumerate into the variables index and value and displays them:

for index, value in enumerate(colors):
    print(f'{index}:  {value}')

0:  red
1:  orange
2:  yellow

# Dasha Davis, Section 5.5, p 166

In [59]:
#creating slicing of the elements at indices 2 through 5 of the list
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers [2:6] #remember to print through the 5th indices, your ending index has to be the next index greater
# the original list is not modified

[5, 7, 11, 13]

In [ ]:
#specifying a slice with ony an ending index, pl 167

## if you omit the starting index, 0 is assumed.

In [60]:
numbers [:6]

[2, 3, 5, 7, 11, 13]

In [ ]:
#specifying a slice with only a starting index

## if you omit the ending index, it assumes the sequence length

In [61]:
numbers[6:]

[17, 19]

In [62]:
#specifying slice with no indices, copies the entire sequence
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
#slicing with steps

In [63]:
#creating slicing of the elements at indices 2 through 5 of the list
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[::2] #every other one

[2, 5, 11, 17]

In [64]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

#slicing with negative indices and steps
#negative steps go in reverse, starting from the end

numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [ ]:
#modifying lists via slices

In [ ]:
#replacing first 3 elements, leaving the rest unchanged

In [65]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[0:3] = ['two', 'three', 'five']

numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [66]:
#empty list deletes only the first 3 elements by assigning an empty list to the 3-element slice

numbers[0:3] = []

numbers

[7, 11, 13, 17, 19]

In [67]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[0::2] = [100, 100, 100, 100]

numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [22]:
id(numbers)

1928940458752

## I'm not sure why this number does not agree with the number on pg. 168 - 4434456648

In [20]:
numbers[:] = []

numbers

[]

In [ ]:
id(numbers)

# 5.5 Self Check #3

In [16]:
numbers = list(range(1, 16))

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [17]:
numbers[1:len(numbers):2]

[2, 4, 6, 8, 10, 12, 14]

In [88]:
numbers = list(range(1, 16))

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [89]:
numbers[5:10] = [0] * len(numbers[5:10])

numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]

In [91]:
numbers[5:] = []

numbers

[1, 2, 3, 4, 5]

In [93]:
numbers[:] = []

numbers

[]

# Dasha Davis Section 5.6, pg. 169

In [ ]:
#deleting the element at a specific list index

In [94]:
numbers = list(range(0, 10))

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
del numbers[-1]

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# deleting a slice from a list

In [96]:
del numbers[0:2]

numbers

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
#using a step in a slice to delete every other element in a list

In [97]:
del numbers[::2]

numbers

[3, 5, 7]

In [ ]:
#deleting all of the list's elements

In [98]:
del numbers[:]

numbers

[]

In [99]:
#deleting variable from current session

In [100]:
del numbers

numbers #will cause a name error

NameError: name 'numbers' is not defined

## Self Check 5.6

In [101]:
numbers = list(range(1, 16))

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [102]:
del numbers[0:4]

numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [103]:
del numbers[::2]

numbers

[6, 8, 10, 12, 14]

## 5.7, pg. 171

In [ ]:
#Modify_elements' items parameter receives a reference to the original list - modifies each element

In [107]:
def modify_elements(items):
    for i in range(len(items)):
        items[i] *= 2
        
numbers = [10, 3, 7, 1, 9]

modify_elements(numbers)

numbers

[20, 6, 14, 2, 18]

In [ ]:
#passing a tuple to a function, attempting to modify the tuple's immutable elements results in TypeError

In [108]:
numbers_tuple = (10, 20, 30)

numbers_tuple

(10, 20, 30)

In [109]:
modify_elements(numbers_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# only items in a list are mutable in a tuple can be modified

## 5.8, Sorting Lists

In [ ]:
#'sort" modifies a list in ascending order:

In [110]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

numbers.sort()

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#'sort' in descending order - use 'sort' but with the keyworkd argument 'reverse' set to true (False is default)

In [111]:
numbers.sort(reverse=True)

numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#built-in function 'sorted' - returns a new list - original sequence is unmodified

In [113]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

ascending_numbers = sorted(numbers)

ascending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
#notice the original list did not change

In [115]:
letters = 'fadgchjebi'

ascending_letters = sorted(letters)

ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
#ascending letters means alphabetical

In [116]:
letters

'fadgchjebi'

In [ ]:
#original list did not change

In [117]:
colors = ('red', 'orange', 'yellow', 'green', 'blue')

ascending_colors = sorting(colors)

ascending_colors

NameError: name 'sorting' is not defined

In [119]:
colors = ('red', 'orange', 'yellow', 'green', 'blue')

ascending_colors = sorted(colors) #changed 'sorting' from previous to 'sorted'

ascending_colors

['blue', 'green', 'orange', 'red', 'yellow']

# 5.8 Self Check #3

In [120]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

foods.sort()

foods

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

# Dr. Case, there seems to be an error in the assignment, # 29 for Part 1 (in Canvas). It says that uppercase letters have a higher numerical value than lowercase letters, but the book states on pg. 173 that uppercase letters are lower than the values of lowercase letters.

## Section 5.9 - searching sequences, p 174

In [123]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]

numbers.index(5)

6

In [ ]:
# a ValueError occurs if the value is not in the list (see above)

In [ ]:
#searching part of a list (indicating the start),  using *= to multiply a sequence - adding a sequence to itself multiple times

In [124]:
numbers *= 2 #multiplying sequence x2 (2 times)

numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [125]:
numbers.index(5, 7)  #searches list for the value 5, starting with index 7 and continuing to the end

14

In [ ]:
#indicating the start and end indices

In [126]:
numbers.index(7, 0, 4) #looks for value 7, starting with indices 0 through 3

1

In [127]:
#operators 'in' and 'not in'

In [128]:
1000 in numbers  #'in' tests whether its right side's iterable contains the left side's value

False

In [129]:
5 in numbers

True

In [130]:
1000 not in numbers  # 'not in' test whether the right side DOES NOT containt the left side's value

True

In [131]:
5 not in numbers

False

In [132]:
#using Operator 'in' to prevent a ValueError

key = 1000

if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'{key} not found')

1000 not found

In [133]:
#Built-in functions 'any' and 'all'

In [ ]:
# 'any' returns True if any item in its iterable argument is True
# 'all' returns True if all items in its iterable are True

#nonzero values are True, and 0 is False - non-empty interable objects are trued, empty iterables are false

## 5.9 Self Check #3

In [134]:
#lists have brackets
numbers = [67, 12, 46, 43, 13]

43 in numbers

True

In [135]:
#that says it is there, but to know WHERE it is, have to do 'list method index'

In [136]:
numbers.index(43)

3

In [ ]:
# that tells us is is at index 3

In [137]:
if 44 in numbers:
    print('Found 44 at index: {numbers.index(44)}')
else:
    print('44 not found')

44 not found

## 5.12 List Comprehensions, pg. 179

In [138]:
#creating new lists

In [139]:
list1 = []

for item in range(1, 6):
    list1.append(item)
    
list1

[1, 2, 3, 4, 5]

In [140]:
#using list comprehension to create a list of integers

In [141]:
list2 = [item for item in range(1, 6)]

list2

[1, 2, 3, 4, 5]

In [142]:
#mapping - map elements to new values, producing a result with the same number of elements as the original data

In [143]:
list3 = [item ** 3 for item in range(1, 6)] #maps each value in orginal list to its cube

list3

[1, 8, 27, 64, 125]

In [ ]:
#filtering elements, producing list with fewer elements - use 'if clause'

In [144]:
list4 = [item for item in range(1, 11) if item % 2 == 0]

list4

[2, 4, 6, 8, 10]

In [145]:
#List comprehension to create a new list by processing another list's elements, p. 180

In [146]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

colors2 = [item.upper() for item in colors]

colors2

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

In [147]:
#puts all elements in the original list in uppercase letters without changing the original list

colors

['red', 'orange', 'yellow', 'green', 'blue']

## 5.12 Self Check #3

In [148]:
cubes = [(x, x **3) for x in range(1, 6)]

cubes

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

## 5.12 Self Check #4

In [150]:
multiples = [x for x in range(3, 30, 3)]
             
multiples

[3, 6, 9, 12, 15, 18, 21, 24, 27]

# 5.14, Filter, Map, and Reduce

In [151]:
#built-in function 'filter'

In [153]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

def is_odd(x):
    return x % 2 != 0

list(filter(is_odd, numbers))

[3, 7, 1, 9, 5]

In [ ]:
# Mapping a sequence's values to New Values, p. 183, using Lambda

In [154]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [155]:
list(map(lambda x: x ** 2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [156]:
#combining filter and map

In [157]:
list(map(lambda x: x ** 2, 
         filter(lambda x: x % 2 !=0, numbers)))

[9, 49, 1, 81, 25]

# 5.16 Two-dimensional Lists (tables)

In [158]:
a = [[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]

for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 68 86 73
96 87 89 81
70 90 86 81

## Dasha Davis Self Check 5.16 #4

In [161]:
t = [[10, 7, 3], [20, 4, 17]]

total = 0

items = 0

for row in t:
    for item in row:
        total += item
        items += 1
        
total/items

10.166666666666666

In [162]:
total = 0

items = 0

for row in t:
    total += sum(row)
    items += len(row)
    
total/items

10.166666666666666

# Chapter 6

In [165]:
#interating through a dictionary

In [166]:
days_per_month = {'January': 31, 'February': 28, 'March': 31}

days_per_month

{'January': 31, 'February': 28, 'March': 31}

In [167]:
for month, days in days_per_month.items():
    print(f'{month} has {days} days')

January has 31 days
February has 28 days
March has 31 days

In [168]:
# 6.2.3 Basic Dictionary Operations, p. 212

In [169]:
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [170]:
# Dasha Davis getting value associated with the key...'V'

roman_numerals['V']

5

In [171]:
#Updating the value of an existing key-value pair (in case of corrections, etc.)

roman_numerals['X'] = 10

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

In [172]:
#adding a new key-value Pair
#assigning a value to a nonexistent key inserts the key-value pair in the dictionary

roman_numerals['L'] = 50

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10, 'L': 50}

In [173]:
# string keys are case-sensitive (p. 213)

In [174]:
#removing a key-value pair

del roman_numerals['III']

roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 10, 'L': 50}

In [175]:
#can also remove a key-value pair with 'pop', which returns value for the removed key

roman_numerals.pop('X')

10

In [176]:
roman_numerals #will display without the pair that you removed with 'pop'

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [177]:
# attempting to access with a nonexistent key - results in a KeyError

roman_numerals['III']

KeyError: 'III'

In [ ]:
# Dasha Davis can avoid this by using 'get'

In [178]:
# testing whether a dictionary contains a specified key by using operators 'in' and 'not in'

In [179]:
'V' in roman_numerals

True

In [180]:
'III' in roman_numerals

False

In [181]:
'III' not in roman_numerals

True

## Dasha Davis 6.2.4

In [182]:
months = {'January': 1, 'February': 2, 'March': 3}

for month_name in months.keys():
    print(month_name, end=' ')

January February March

In [183]:
for month_number in months.values():
    print(month_number, end=' ')

1 2 3

In [184]:
#Dictionary Views do NOT maintain their own copies of a dictionary's data

months_view = months.keys()

for key in months_view:
    print(key, end=' ')

January February March

In [185]:
months['December'] = 12 #adding a new key-pair value

months

{'January': 1, 'February': 2, 'March': 3, 'December': 12}

In [186]:
for key in months_view:
    print(key, end=' ')

January February March December

In [ ]:
# Do not modify a dictionary while iterating through a view

## 6.2.7 Example: Word Counts, pg. 218

In [ ]:
# fig06_02.py
"""Tokenizing a string and counting unique words."""

In [191]:
text = ('this is sample text with several words '
        'this is more sample text with some different words')

word_counts = {}

#count occurrences of each unique word
for word in text.split():
    if word in word_counts:
        word_counts[word] +=1  #update existing key-value pair
    else: 
        word_counts[word] = 1 #insert new key-value pair
        
print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')

print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

Number of unique words: 10

## Dasha Davis - My example, Word Counts, ex. 6.2.7

In [192]:
text = ('Peter Piper picked a peck of pickled peppers '
        'a peck of pickled peppers Peter Piper picked '
        'if Peter Piper picked a peck of pickeled peppers '
        'how many pecks did Peter Piper pick')

word_counts = {}

#count occurrences of each unique word
for word in text.split():
    if word in word_counts:
        word_counts[word] +=1  #update existing key-value pair
    else: 
        word_counts[word] = 1 #insert new key-value pair
        
print(f'{"WORD":<17}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<17}{count}')

print('\nNumber of unique words:', len(word_counts))

WORD             COUNT
Peter            4
Piper            4
a                3
did              1
how              1
if               1
many             1
of               3
peck             3
pecks            1
peppers          3
pick             1
picked           3
pickeled         1
pickled          2

Number of unique words: 15

## 6.2 Self Check #2

In [194]:
import random

In [196]:
numbers = [random.randrange(1, 6) for i in range(50)]

from collections import Counter

counter = Counter(numbers)

for value, count in sorted(counter.items()):
    print(f'{value:<4}{count}')

1   9
2   8
3   10
4   8
5   15

In [ ]:
# 6.2.8 Dictionary Method 'Update'

In [198]:
country_codes = {}

country_codes.update({'South Africa': 'ZA'})
                     
country_codes

{'South Africa': 'ZA'}

In [ ]:
#method update can convert keyword arguments into key-value pairs to insert

In [199]:
country_codes.update(Australia='ar')

country_codes

{'South Africa': 'ZA', 'Australia': 'ar'}

In [ ]:
#to correct something by using another keyword argument to update

In [201]:
country_codes.update(Australia='au')

country_codes

{'South Africa': 'ZA', 'Australia': 'au'}

## Dasha Davis 6.2.9 Dictionary Comprehensions

In [204]:
months = {'January': 1, 'February': 2, 'March': 3}
          
months2 = {number: name for name, number in months.items()}
          
months2 # shows reversing key-value pairs

{1: 'January', 2: 'February', 3: 'March'}

In [ ]:
#dictionary comprehension can map/convert a dictionary's values to new values
#converts a dictionary of names and lists of grades into a dictionary of names and GPAs

In [206]:
grades = {'Sue': [98, 87, 94], 'Bob': [84, 95, 91]}

grades2 = {k: sum(v)/len(v) for k, v in grades.items()}

grades2

{'Sue': 93.0, 'Bob': 90.0}

## Dasha Davis 6.2 Self Check

In [207]:
{number: number ** 3 for number in range(1, 6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

## 6.3 Sets, pg. 221

In [208]:
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}

colors

{'blue', 'green', 'orange', 'red', 'yellow'}

In [209]:
#finding set's Length

len(colors)

5

In [210]:
#checking if a value is in a set with the 'in' and 'not in' operators

In [211]:
'red' in colors

True

In [212]:
'purple' in colors

False

In [213]:
'purple' not in colors

True

In [215]:
#iterating through a set (sets are iterable, so each element can process through a 'for' loop
#sets are undordered

for color in colors:
    print(color.upper(), end=' ')

YELLOW RED GREEN ORANGE BLUE

In [216]:
#creating a set with the built-in set function

numbers = list(range(10)) + list(range(5))

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [217]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [218]:
#empty set

set()

set()

# Dasha Davis 6.3 Self Check pg. 223

In [219]:
text = 'to be or not to be that is the question'

unique_words = set(text.split())

for word in sorted(unique_words):
    print(word, end=' ')

be is not or question that the to

In [220]:
# 6.3.1 Comparing sets
# == returns True and != returns False

{1, 3, 5} == {3, 5, 1}

True

In [221]:
{1, 3, 5} != {3, 5, 1}

False

In [222]:
# < shows if the set to its left is a proper subset of the one on the right -- all elements in the left are in the right and sets are not equal

{1, 3, 5} < {3, 5, 1}  #these are equal, so False

False

In [223]:
{1, 3, 5} < {7, 3, 5, 1}

True

In [224]:
# <= operator tests if the left is an improper subset of the right -- all elements on left ar in the right, and the sets might be equal

In [225]:
{1, 3, 5} <= {3, 5, 1}

True

In [226]:
{1, 3} <= {3, 5, 1}

True

In [ ]:
#can also use issubset

In [227]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [ ]:
# > operator test if left is a proper subset of right, all elements in right are in left and left operand has more elements

In [228]:
{1, 3, 5} > {3, 5, 1}

False

In [229]:
{1, 3, 5, 7} > {3, 5, 1}

True

In [ ]:
# >= operator, the elements in the right are in the left, and the sets might be equal

In [230]:
{1, 3, 5} >= {3, 5, 1}

True

In [231]:
{1, 3, 5} >= {3, 1}

True

In [232]:
{1, 3} >= {3, 1, 7}

False

In [233]:
#issuperset

{1, 3, 5}.issuperset({3, 5, 1})

True

In [234]:
#issuperset

{1, 3, 5}.issuperset({3, 2})

False

# Dasha Davis 6.3.1 Self Check #3

In [235]:
set('abc def ghi jkl mno').issuperset('hi mom')

True

## 6.3.2 Mathematical Set Operations

In [238]:
#union of 2 sets consists of all the unique elements from both sets
#calculated with the | operator or with '.union' method

{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [237]:
#.union method
{1, 3, 5}.union([20, 20, 3, 40, 40])

{1, 3, 5, 20, 40}

In [ ]:
#intersections (sets) -- what 2 sets have in common
# can use the & operator or the .intersection

In [239]:
{1, 3, 5} & {2, 3, 4}

{3}

In [240]:
{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

{1, 3}

In [ ]:
#difference --elements in the left that are not in the right
# - operator or .difference

In [241]:
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [242]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

{1, 5, 7}

In [ ]:
# symmetric difference - set that has elements of both sets that are not in commone with each other.
# can use the ^ operator or with 'symmetric-difference' method

In [243]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [244]:
{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])

{1, 2, 4, 5, 7}

In [246]:
#disjoint - 2 sets are disjoint if they do not have any common elements. Use the 'isdisjoint' method

{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [247]:
{1, 3, 5}.isdisjoint({4, 6, 1})

False

## Dasha Davis 6.3.2 Self Check #2

In [248]:
{10, 20, 30} - {5, 10, 15, 20}

{30}

In [249]:
{10, 20, 30} ^ {5, 10, 15, 20}

{5, 15, 30}

In [250]:
{10, 20, 30} | {5, 10, 15, 20}

{5, 10, 15, 20, 30}

In [251]:
{10, 20, 30} & {5, 10, 15, 20}

{10, 20}

In [ ]:
# 6.33 Mutable Set Operators and Methods (operators and methods that modify an existing set)

In [253]:
# |= (union augmented assignment) -- modifies its left side
numbers = {1, 3, 5}

numbers |= {2, 3, 4}

numbers

{1, 2, 3, 4, 5}

In [254]:
#update method, union operation - the argument can be any iterable

numbers.update(range(10))

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [256]:
# adding and removing elements
# 'add' if its not already in the set

numbers.add(17)

numbers.add(3)

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [257]:
#remove - KeyError occurs if the value is not in the set

numbers.remove(3)

numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [258]:
#method 'discard' removes the element but does not cause an exception if not in the set
#remove an arbitrary element (sets aren't ordered) return as 'pop', you don't know which element will be returned

numbers.pop()

0

In [259]:
numbers

{1, 2, 4, 5, 6, 7, 8, 9, 17}

In [ ]:
#KeyError returns if the set is empty when you call 'pop'

In [260]:
#Clear method empties the set

numbers.clear()

numbers

set()

## Dasha Davis 6.3.4 Set Comprehensions

In [261]:
numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]

evens = {item for item in numbers if item % 2 == 0}

evens

{2, 4, 6, 8, 10}